$white: #ffffff;
$black: #000000;
$lessWhite: #f1f1f1;
$lessBlack: #101010;
$grey: #686868;
$orange: #ff8008;

.gradient-black {
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
}
