#header {
  .logo-container {
    width: 250px;
    height: 123px;
    position: relative;
    margin: 0 auto;
    .logo {
      transform: scale(0.8);
    }
    .theme-dark-logo {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(280deg)
        brightness(107%) contrast(101%);
    }
  }
  .utilities-container {
    @include displayFlex(space-evenly, center);
    max-width: 200px;
    margin: 0 auto;
    padding: 1em 0;
    .search {
      @include displayFlex(center, center);
      cursor: pointer;
      .theme-dark-search {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(280deg)
          brightness(107%) contrast(101%);
      }
    }
    .theme {
      position: relative;
      min-width: 30px;
      min-height: 30px;
      .theme-item {
        position: absolute;
        z-index: 100;
        display: none;
        cursor: pointer;
        .theme-dark-icon {
          filter: invert(59%) sepia(40%) saturate(3561%) hue-rotate(353deg)
            brightness(99%) contrast(105%);
        }
      }
      .active-theme {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #header {
    @include displayFlex(center, center);
    .header-item {
      margin: 0;
    }
    .utilities-container {
      width: 250px;
    }
  }
}
