#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  z-index: 1000;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  .logo-container {
    width: 125px;
    position: relative;
    margin: 0 auto;
    padding-top: 0.5rem;
    .logo {
      width: 100%;
      object-fit: cover;
    }
    .theme-dark-logo {
      filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(280deg) brightness(107%) contrast(101%);
    }
  }
  .utilities-container {
    // @include displayFlex(space-evenly, center);
    // max-width: 200px;
    margin: 0 auto;
    padding: 1em 0;
    .search {
      @include displayFlex(center, center);
      cursor: pointer;
      .theme-dark-search {
        filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(280deg) brightness(107%)
          contrast(101%);
      }
    }
    .theme {
      position: absolute;
      top: 5vw;
      right: 5vh;
      width: 30px;
      height: 30px;
      z-index: 100;
      .theme-item {
        display: none;
        cursor: pointer;
        .theme-dark-icon {
          filter: invert(59%) sepia(40%) saturate(3561%) hue-rotate(353deg) brightness(99%)
            contrast(105%);
        }
      }
      .active-theme {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #header {
    @include displayFlex(center, center);
    .header-item {
      margin: 0;
    }
    .utilities-container {
      .theme {
        top: 3vw;
        right: 5vh;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #header {
    .logo-container {
      width: 175px;
    }
    .utilities-container {
      .theme {
        top: 35px;
        right: 5vh;
      }
    }
  }
}
