#main-home {
  padding-top: $fontSize * 3;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  .home-presentation {
    padding: 0 $fontSize;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    .presentation-slogan {
      font-size: $fontSize * 1.2;
      font-style: italic;
      color: $orange;
    }
    .presentation-tip {
      color: $orange;
      font-weight: 600;
    }
  }
}
